@import 'primeflex/primeflex.scss';

:host {
  @include styleclass('inline-flex border-1 border-300 align-items-center justify-content-center p-0 m-0');
  width: 3.6em;
  height: 3.6em;

  .active {
    @include styleclass('bg-primary-reverse flex align-items-center justify-content-center');
    height: 100%;
    width: 100%;
  }

  span {
    font-size: 28pt;
  }

  .rotate {
    @include styleclass('bg-primary');
    width: 100%;
    height: 100%;
    -webkit-animation: touched 500ms normal ease-in forwards;
    animation: touched 500ms normal ease-in forwards;
    opacity: 0;
  }

  .touched {
    @include styleclass('bg-primary');
    width: 100%;
    height: 100%;
    -webkit-animation: touched 350ms normal ease-in forwards;
    animation: touched 350ms normal ease-in forwards;
    opacity: 0;
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    opacity: 1;
  }
}

@keyframes touched {
  to {
    opacity: 1;
  }
}